<a href="https://colab.research.google.com/github/anupamchaudhary131/API_POST_JSON_Response_Demo/blob/master/Financial_Crime_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

# New Section

In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")


from google.colab import files

In [39]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [40]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [41]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
128573,78763,1.268174,-0.667519,0.455831,-0.624309,-0.947193,-0.287198,-0.647256,0.076475,-0.839515,...,0.109237,0.278014,0.002229,0.234976,0.389169,-0.254429,0.013218,0.003945,28.95,0.0
128574,78763,1.155178,0.320313,0.234122,1.040608,-0.007971,-0.458582,0.262241,-0.063514,-0.428308,...,-0.424601,-1.376372,0.146349,-0.073007,0.256431,-0.837060,0.001470,0.021367,34.95,0.0
128575,78763,-1.197114,-2.177847,1.712959,-1.417237,-0.986345,-0.048463,0.093951,-0.482363,-2.104904,...,-0.047098,0.667875,0.582151,0.003195,-0.221851,-0.106913,-0.166527,-0.304656,251.60,0.0
128576,78763,1.170640,0.181441,0.276360,0.536637,-0.217898,-0.301388,-0.165375,0.141366,-0.072995,...,-0.220749,-0.688621,0.158992,-0.050784,0.078511,0.110379,-0.017124,0.014881,1.29,0.0
128577,78764,-5.117463,-4.065659,0.772520,2.874356,3.561785,-0.823963,-0.609600,-0.634524,-0.791309,...,-0.126074,-0.176554,3.960351,-0.929813,0.432852,-0.075430,1.237774,NaN,NaN,NaN

In [42]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128578 entries, 0 to 128577
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    128578 non-null  int64
 1   V1      128578 non-null  float64
 2   V2      128578 non-null  float64
 3   V3      128578 non-null  float64
 4   V4      128578 non-null  float64
 5   V5      128578 non-null  float64
 6   V6      128578 non-null  float64
 7   V7      128578 non-null  float64
 8   V8      128578 non-null  float64
 9   V9      128578 non-null  float64
 10  V10     128578 non-null  float64
 11  V11     128578 non-null  float64
 12  V12     128578 non-null  float64
 13  V13     128578 non-null  float64
 14  V14     128578 non-null  float64
 15  V15     128578 non-null  float64
 16  V16     128578 non-null  float64
 17  V17     128578 non-null  float64
 18  V18     128578 non-null  float64
 19  V19     128578 non-null  float64
 20  V20     128578 non-null  float64
 21  V21     128578 non-null  float64
 22  V22     128578 non-null  float64
 23  V23     128578 non-null  float64
 24  V24     128578 non-null  float64
 25  V25     128578 non-null  float64
 26  V26     128578 non-null  float64
 27  V27     128578 non-null  float64
 28  V28     128577 non-null  float64
 29  Amount  128577 non-null  float64
 30  Class   128577 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 30.4 MB

In [43]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       1
Amount    1
Class     1
dtype: int64

In [44]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    128316
1.0       261
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [45]:
# separating the data for analysis
legal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [46]:
print(legal.shape)
print(fraud.shape)

(128316, 31)
(261, 31)

In [47]:
# statistical measures of the data
legal.Amount.describe()

count    128316.000000
mean         92.917991
std         251.643597
min           0.000000
25%           6.500000
50%          24.950000
75%          83.172500
max       19656.530000
Name: Amount, dtype: float64

In [48]:
fraud.Amount.describe()

count     261.000000
mean      116.679693
std       246.300626
min         0.000000
25%         1.000000
50%        11.380000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [49]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,49295.264433,-0.238892,-0.00744,0.691748,0.139159,-0.276111,0.086237,-0.104364,0.059352,-0.083141,...,0.042163,-0.039556,-0.115503,-0.034175,0.012093,0.130112,0.025979,-0.000500,0.002020,92.917991
1.0,41975.996169,-5.665868,3.97347,-7.225782,4.526519,-4.014566,-1.501321,-5.982089,1.526847,-2.616088,...,0.238243,1.271860,-0.320923,-0.117196,-0.105943,0.199014,0.054738,0.492548,0.081347,116.679693

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [50]:
legal_sample = legal.sample(n=492)

Concatenating two DataFrames

In [51]:
new_dataset = pd.concat([legal_sample, fraud], axis=0)

In [52]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
124174,77202,-0.504292,0.937198,1.027872,-0.241156,1.043153,1.269155,0.398293,0.527553,-0.445246,...,-0.162733,-0.228989,0.066692,-1.363842,-0.414224,0.221467,0.318606,0.080783,4.49,0.0
97429,66216,0.122238,0.608103,2.082007,1.777534,-0.761028,0.113751,-0.213769,0.141693,0.217743,...,0.040995,0.397371,-0.000693,0.403830,-0.451885,-0.245857,0.148787,0.045471,9.99,0.0
118576,75133,1.144610,-0.228234,0.643961,-0.158359,-0.722249,-0.354309,-0.403548,0.139831,0.216059,...,-0.037070,-0.173508,0.130155,0.269649,-0.042085,0.904146,-0.065849,-0.000086,21.79,0.0
22187,32089,1.237689,0.735592,-0.342025,1.350151,0.096775,-1.241150,0.321539,-0.253406,-0.111972,...,-0.066115,-0.110594,-0.125211,0.255940,0.695782,-0.327873,0.036155,0.057802,1.00,0.0
53587,46055,1.179824,0.362983,0.128450,1.011799,-0.040709,-0.732970,0.341197,-0.178637,-0.482897,...,0.039350,0.110857,-0.129375,0.342125,0.711366,-0.378874,0.000164,0.010784,21.69,0.0

In [53]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
124087,77171,1.118560,1.291858,-1.298805,2.135772,0.772204,-1.147291,0.390578,-0.107072,-0.038339,...,-0.346374,-0.663588,-0.102326,0.017911,0.650302,-0.332366,0.105949,0.128124,1.0,1.0
124115,77182,-1.410852,2.268271,-2.297554,1.871331,0.248957,-1.208799,-1.358648,1.102916,-1.317364,...,0.155381,-0.614880,-0.196126,-0.464376,0.118473,-0.484537,0.373596,0.187657,1.0,1.0
124176,77202,-0.356326,1.435305,-0.813564,1.993117,2.055878,-0.543579,0.487691,0.085449,-0.536352,...,-0.312863,-0.687874,-0.267003,-1.158480,0.271460,-0.155397,0.114328,0.101526,1.0,1.0
125342,77627,-7.139060,2.773082,-6.757845,4.446456,-5.464428,-1.713401,-6.485365,3.409395,-3.053493,...,1.303250,-0.016118,-0.876670,0.382230,-1.054624,-0.614606,-0.766848,0.409424,106.9,1.0
128479,78725,-4.312479,1.886476,-2.338634,-0.475243,-1.185444,-2.112079,-2.122793,0.272565,0.290273,...,0.550541,-0.067870,-1.114692,0.269069,-0.020572,-0.963489,-0.918888,0.001454,60.0,1.0

In [54]:
new_dataset['Class'].value_counts()

0.0    492
1.0    261
Name: Class, dtype: int64

In [55]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,49680.772358,-0.283025,-0.010149,0.690189,0.194701,-0.295457,-0.004564,-0.075788,0.051097,-0.152071,...,0.051386,-0.086755,-0.122139,-0.041026,-0.006028,0.105932,0.007630,0.006780,-0.015430,100.867459
1.0,41975.996169,-5.665868,3.973470,-7.225782,4.526519,-4.014566,-1.501321,-5.982089,1.526847,-2.616088,...,0.238243,1.271860,-0.320923,-0.117196,-0.105943,0.199014,0.054738,0.492548,0.081347,116.679693

Splitting the data into Features & Targets

In [56]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [57]:
print(X)

         Time        V1        V2        V3        V4        V5        V6  \
124174  77202 -0.504292  0.937198  1.027872 -0.241156  1.043153  1.269155
97429   66216  0.122238  0.608103  2.082007  1.777534 -0.761028  0.113751
118576  75133  1.144610 -0.228234  0.643961 -0.158359 -0.722249 -0.354309
22187   32089  1.237689  0.735592 -0.342025  1.350151  0.096775 -1.241150
53587   46055  1.179824  0.362983  0.128450  1.011799 -0.040709 -0.732970
...       ...       ...       ...       ...       ...       ...       ...
124087  77171  1.118560  1.291858 -1.298805  2.135772  0.772204 -1.147291
124115  77182 -1.410852  2.268271 -2.297554  1.871331  0.248957 -1.208799
124176  77202 -0.356326  1.435305 -0.813564  1.993117  2.055878 -0.543579
125342  77627 -7.139060  2.773082 -6.757845  4.446456 -5.464428 -1.713401
128479  78725 -4.312479  1.886476 -2.338634 -0.475243 -1.185444 -2.112079

              V7        V8        V9  ...       V20       V21       V22  \
124174  0.398293  0.527553 -0.445246  ...  0.015352 -0.162733 -0.228989
97429  -0.213769  0.141693  0.217743  ...  0.129426  0.040995  0.397371
118576 -0.403548  0.139831  0.216059  ... -0.095177 -0.037070 -0.173508
22187   0.321539 -0.253406 -0.111972  ... -0.089142 -0.066115 -0.110594
53587   0.341197 -0.178637 -0.482897  ... -0.066252  0.039350  0.110857
...          ...       ...       ...  ...       ...       ...       ...
124087  0.390578 -0.107072 -0.038339  ... -0.023576 -0.346374 -0.663588
124115 -1.358648  1.102916 -1.317364  ...  0.058063  0.155381 -0.614880
124176  0.487691  0.085449 -0.536352  ...  0.303262 -0.312863 -0.687874
125342 -6.485365  3.409395 -3.053493  ... -0.616949  1.303250 -0.016118
128479 -2.122793  0.272565  0.290273  ... -0.718706  0.550541 -0.067870

             V23       V24       V25       V26       V27       V28  Amount
124174  0.066692 -1.363842 -0.414224  0.221467  0.318606  0.080783    4.49
97429  -0.000693  0.403830 -0.451885 -0.245857  0.148787  0.045471    9.99
118576  0.130155  0.269649 -0.042085  0.904146 -0.065849 -0.000086   21.79
22187  -0.125211  0.255940  0.695782 -0.327873  0.036155  0.057802    1.00
53587  -0.129375  0.342125  0.711366 -0.378874  0.000164  0.010784   21.69
...          ...       ...       ...       ...       ...       ...     ...
124087 -0.102326  0.017911  0.650302 -0.332366  0.105949  0.128124    1.00
124115 -0.196126 -0.464376  0.118473 -0.484537  0.373596  0.187657    1.00
124176 -0.267003 -1.158480  0.271460 -0.155397  0.114328  0.101526    1.00
125342 -0.876670  0.382230 -1.054624 -0.614606 -0.766848  0.409424  106.90
128479 -1.114692  0.269069 -0.020572 -0.963489 -0.918888  0.001454   60.00

[753 rows x 30 columns]

In [58]:
print(Y)

124174    0.0
97429     0.0
118576    0.0
22187     0.0
53587     0.0
         ...
124087    1.0
124115    1.0
124176    1.0
125342    1.0
128479    1.0
Name: Class, Length: 753, dtype: float64

Split the data into Training data & Testing Data

In [59]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [60]:
print(X.shape, X_train.shape, X_test.shape)

(753, 30) (602, 30) (151, 30)

Model Training

Logistic Regression

In [61]:
model = LogisticRegression()

In [62]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [63]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [64]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9584717607973422

In [65]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [66]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9271523178807947